* {
	font-family: sans-serif;
}

[hidden] {
	display: none !important;
}

body {
	background-color: #fff;
}

#wrapper {
	width: 1200px;
	margin: 10px auto;
	background-color: #fff;
}

#myWorld {
	width: 1200px;
	height: 800px;
	border-radius: 1rem;
	overflow: hidden;
}

.caption {
	margin-top: 1rem;
}

.modal {
	background: #00000080;
	width: fit-content;
	height: fit-content;
	padding: 1rem 3rem;
	border-radius: 0.5rem;
	color: white;
	position: absolute;
}

button {
	border: none;
	background-color: white;
	color: black;
	padding: 0.75rem 1.25rem;
	border-radius: 0.25rem;
	cursor: pointer;
}

/* LOADING MODAL */

.modal#loading {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#loading button {
	display: none;
	margin: auto;
	background-color: tomato;
	color: white;
}

#loading.ready button {
	display: block;
}

#loading .text::before {
	content: "Rendering objects, this will take a moment...";
}

/* CONTROLS */

.modal#controls {
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	padding: 1rem;
	/* transform: translate(10%, 30%); */
}

.modal#controls > * {
	margin-right: 1rem;
}

.modal#controls > *:last-of-type {
	margin-right: 0;
}
